.current-price {
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding: 5px;
    display: inline-block;

}
.btn-border {
    border: 1px solid lightgrey;
    border-radius: 15px;
    margin-left: 5px ;
}